.cart-product
{
    border: 2px solid hotpink;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    margin: 12px 0px;
}
.cart-product .details
{
    display: flex;
    align-items: center;
}
.cart-product img
{
    width: 40px;
    margin-right: 12px;
}