.cart-product
{
    border: 2px solid hotpink;
    border-radius: 12px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    margin: 12px 0px;
}
.cart-product img
{
    width: 40px;
    margin-right: 12px;
}
.cart-product .quantity
{
    margin-left: 40px;
}